# Created by .ignore support plugin (hsz.mobi)
/a3c/checkpoints/latest_test/config_list.txt
/a3c/checkpoints/latest_test/checkpoint
.idea/
a3c/__pycache__/
a3c/checkpoints/latest_test/latest_test-0.data-00000-of-00001
a3c/checkpoints/latest_test/latest_test-0.index
a3c/checkpoints/latest_test/latest_test-0.meta
a3c/determinate_log/
a3c/tb_logs/
